<h1>
  <%= @user.username %>
</h1>
<h2>Bio</h2>
<p><%= @user.bio %></p>

<h2>Neighborhood</h2>
<h3><%= @user.neighborhood %></h3>

<ul>
  <% current_user.dogs.each do |pups| %>
  <li>
    <%= pups.name %>
  </li>
  <% end %>
</ul>
