/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #D4F1F4;
}

.card {
  background-color:  #75E6DA;
  border-radius: 15px;
  border-width: 0;
}

.list-group-item {
  background-color: #D4F1F4;
  
}

.navbar {
  background-color: #75E6DA;
}

.table {
  background-color: #75E6DA;
}

.dropdown-item, .dropdown-menu {
  background-color: #D4F1F4;
  border-radius: 0;
}
